body {
  background: #0d0d0d;
  color: #f2f2f2;
  font-family: "Orbitron", sans-serif;
}

.card {
  background: #111;
  border: 1px solid #ff6a00;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
}
